<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <h1>Edit Restaurateur</h1>

    {{ include('restaurateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_restaurateur_index') }}">back to list</a>

    {{ include('restaurateur/_delete_form.html.twig') }}
{% endblock %}
</body>
</html>



